**Dictionary**

- we already seen many data types like
- Strings, List, Tuple, Set,
- One more things is dictionary
- String=''
- list=[]
- tuple=()
- set={}
- dictionary={key:value}

**ZIP**

In [6]:
names=['sathya','Kalyani','Ishaan','Test']
age=[35,32,10,12]
for i,j in zip(names,age):
    print(i,j)

sathya 35
Kalyani 32
Ishaan 10
Test 12

- Main usage of zip is combile both list

In [7]:
list(zip(names,age))

[('sathya', 35), ('Kalyani', 32), ('Ishaan', 10), ('Test', 12)]

In [8]:
set(zip(names,age))

{('Ishaan', 10), ('Kalyani', 32), ('Test', 12), ('sathya', 35)}

In [9]:
tuple(zip(names,age))

(('sathya', 35), ('Kalyani', 32), ('Ishaan', 10), ('Test', 12))

In [11]:
dict(zip(names,age))

{'sathya': 35, 'Kalyani': 32, 'Ishaan': 10, 'Test': 12}

In [20]:
#{key1:value1,key2:value2,...etc}
dict1={'sathya': 35, 'Kalyani': 32, 'Ishaan': 10, 'Test': 12,'obj':[('sathya', 35), ('Kalyani', 32), ('Ishaan', 10), ('Test', 12)],
      'obj2':{('Ishaan', 10), ('Kalyani', 32), ('Test', 12), ('sathya', 35)},'abc':dict(zip(names,age)),20:30,True:'A'}
dict1

{'sathya': 35,
 'Kalyani': 32,
 'Ishaan': 10,
 'Test': 12,
 'obj': [('sathya', 35), ('Kalyani', 32), ('Ishaan', 10), ('Test', 12)],
 'obj2': {('Ishaan', 10), ('Kalyani', 32), ('Test', 12), ('sathya', 35)},
 'abc': {'sathya': 35, 'Kalyani': 32, 'Ishaan': 10, 'Test': 12},
 20: 30,
 True: 'A'}

**create all type of dictionaries**

In [29]:
dict2={1:10,'A':2,True:123}
dict2

{1: 123, 'A': 2}

In [30]:
d5={['apple','cherry']:'Fruites'}
d5

TypeError: unhashable type: 'list'

In [31]:
d5={('apple','cherry'):'Fruites'}
d5

{('apple', 'cherry'): 'Fruites'}

In [32]:
d5={{'apple','cherry'}:'Fruites'}
d5

TypeError: unhashable type: 'set'

In [38]:
dd1={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Test': 12}
max(dd1) #max value applied to Keys.
#operations apply on keys
#keys are important

'sathya'

In [40]:
s1={25:'Test',30:'abc',12:'xyz'}
max(s1)

30

In [43]:
s1={25:'Test','30':'abc',12:'xyz'}
s1

{25: 'Test', '30': 'abc', 12: 'xyz'}

s1={25:'Test',25:'abc',25:'xyz'}
s1

In [45]:
#ASCCI Values
print('A')

A

In [47]:
ord('A')

TypeError: ord() expected a character, but string of length 6 found

In [49]:
dd1={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Test': 12}
dd1

{'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Test': 12}

In [56]:
sum=0
for i in dd1:
    for x in i:
        sum=sum+ord(x)
        print(x,ord(x),sum,end=" ")
    print(i,sum)
    sum=0

s 115 115 a 97 212 t 116 328 h 104 432 y 121 553 a 97 650 sathya 650
K 75 75 a 97 172 l 108 280 y 121 401 a 97 498 n 110 608 i 105 713 Kalyani 713
I 73 73 s 115 188 h 104 292 a 97 389 a 97 486 n 110 596 Ishaan 596
T 84 84 e 101 185 s 115 300 t 116 416 Test 416

In [65]:
dd1={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Test': 12}
print(max(dd1))
print(min(dd1))
print(list(reversed(dd1)))
print(list(sorted(dd1)))
print(len(dd1))

sathya
Ishaan
['Test', 'Ishaan', 'Kalyani', 'sathya']
['Ishaan', 'Kalyani', 'Test', 'sathya']
4

In [3]:
dd1={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Test': 12}
for i in dd1:
    print(dd1[i])

35
44
10
12

In [4]:
#Dictionary is a key:value pair
#we can't use index number directly
#whenever you want to call a value, we will use keu
dd1['Test']

12

In [6]:
dd1={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Advaitha': 12}
for i in dd1:
    print(f"age of {i} is {dd1[i]}")

age of sathya is 35
age of Kalyani is 44
age of Ishaan is 10
age of Advaitha is 12

In [9]:
names=['sam','chinnu','lucky']
ages=[10,20,22]
for i,j in zip(names,ages):
    print(f"{i} has age {j}")

sam has age 10
chinnu has age 20
lucky has age 22

In [13]:
dd1={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Advaitha': 12}
names=[]
ages1=[]
for i in dd1:
    names.append(i);
    ages1.append(dd1[i])
print(names,ages1)

['sathya', 'Kalyani', 'Ishaan', 'Advaitha'] [35, 44, 10, 12]

In [16]:
keys=[i for i in dd1]
values=[dd1[i] for i in dd1]
keys,values

(['sathya', 'Kalyani', 'Ishaan', 'Advaitha'], [35, 44, 10, 12])

**Dictionary to List**

In [18]:
d2={'sathya': 35, 'Kalyani': 44, 'Ishaan': 10, 'Advaitha': 12}
keys=[i for i in d2]
values=[dd1[i] for i in d2]
keys,values

(['sathya', 'Kalyani', 'Ishaan', 'Advaitha'], [35, 44, 10, 12])

In [20]:
#** create empty string , list, disctionary ***
l1=[]
l1.append('apple')
s=''
s=s+'Aplpha'
d={}
d["Apples"]=20
l1,s,d

(['apple'], 'Aplpha', {'Apples': 20})

In [24]:
s='hello hai hai how how are you'
ls=s.split()
ls

['hello', 'hai', 'hai', 'how', 'how', 'are', 'you']

In [25]:
ls.count('how')

2

In [28]:
s='hello hai hai how how are you you'
d1={}
for i in s.split():
    d1[i]=ls.count(i)
d1

{'hello': 1, 'hai': 2, 'how': 2, 'are': 1, 'you': 2}

In [104]:
s="""Data science also integrates domain knowledge from the underlying application domain (e.g., natural sciences, information technology, 
    and medicine).[3] Data science is multifaceted and can be described as a science, a research paradigm, a research method, 
    a discipline, a workflow, and a profession.[4]"""
ls=list(filter(lambda i: i not in ('a','an','is''the'),s.split()))
lk=list(map(lambda i: ord(i[0]),ls))
dict(zip(ls,lk))

{'Data': 68,
 'science': 115,
 'also': 97,
 'integrates': 105,
 'domain': 100,
 'knowledge': 107,
 'from': 102,
 'the': 116,
 'underlying': 117,
 'application': 97,
 '(e.g.,': 40,
 'natural': 110,
 'sciences,': 115,
 'information': 105,
 'technology,': 116,
 'and': 97,
 'medicine).[3]': 109,
 'is': 105,
 'multifaceted': 109,
 'can': 99,
 'be': 98,
 'described': 100,
 'as': 97,
 'science,': 115,
 'research': 114,
 'paradigm,': 112,
 'method,': 109,
 'discipline,': 100,
 'workflow,': 119,
 'profession.[4]': 112}

In [62]:
s="""Data science also integrates domain knowledge from the underlying application domain (e.g., natural sciences, information technology, 
    and medicine).[3] Data science is multifaceted and can be described as a science, a research paradigm, a research method, 
    a discipline, a workflow, and a profession.[4]"""
d1={}
for i not in s.split():
    if i in ('a','an','is''the'):
        d1[i]=ord(i[0])
d1

{'Data': 68,
 'science': 115,
 'also': 97,
 'integrates': 105,
 'domain': 100,
 'knowledge': 107,
 'from': 102,
 'the': 116,
 'underlying': 117,
 'application': 97,
 '(e.g.,': 40,
 'natural': 110,
 'sciences,': 115,
 'information': 105,
 'technology,': 116,
 'and': 97,
 'medicine).[3]': 109,
 'is': 105,
 'multifaceted': 109,
 'can': 99,
 'be': 98,
 'described': 100,
 'as': 97,
 'science,': 115,
 'research': 114,
 'paradigm,': 112,
 'method,': 109,
 'discipline,': 100,
 'workflow,': 119,
 'profession.[4]': 112}

**Mutable and Immutable concepts**
- This concept comes, change the ele using index. but in dictionary there is no index
- Dictionary will change the value based on key only
- if it change it is mutabel
- if it is not change, then its immutable

- List and dictionary are mutable
- tuple, string are immutable
- diff between list and tuple

In [38]:
d={'fruits':['Mango']}
d['fruits'][0]

'Mango'

In [39]:
d={'fruits':[{'Apple':['Kashmir']}]}
d['fruits'][0]['Apple'][0]

'Kashmir'

In [41]:
d={'fruits':[{'Apple':{'Kashmir':['India']}}]}

In [44]:
d['fruits'][0]['Apple']['Kashmir'][0]

'India'

In [49]:
d={'fruites':{'Benganapalli':{'mango':{'nagpur':{'MH':{'Shivaji':{'Shambaji'}}}}}}}

In [58]:
d['fruites']['Benganapalli']['mango']['nagpur']['MH']['Shivaji']

{'Shambaji'}

In [56]:
d3={'fruits':1}
d3['fruits']

1

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [19]:
"""'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']"""
dict1={"sathya":30,"kalyani":20}
print(type(dict1))
print(dict1)
dict1.clear()
print(dict1)
dict2={"sathya":30,"kalyani":20}
dict3=dict2.copy()
print(dict3)
list=['A','B','C']
dict4=dict2.fromkeys(list)
print(dict4)
print(dict3.items())
print(dict3.keys())
print(dict3.values())
print(tuple(dict3.items()))
print(tuple(dict3.keys()))
print(tuple(dict3.values()))

<class 'dict'>
{'sathya': 30, 'kalyani': 20}
{}
{'sathya': 30, 'kalyani': 20}
{'A': None, 'B': None, 'C': None}
dict_items([('sathya', 30), ('kalyani', 20)])
dict_keys(['sathya', 'kalyani'])
dict_values([30, 20])
(('sathya', 30), ('kalyani', 20))
('sathya', 'kalyani')
(30, 20)

In [18]:
print(type(dict3.items()))
print(type(dict3.keys()))
print(type(dict3.values()))

<class 'dict_items'>
<class 'dict_keys'>
<class 'dict_values'>

In [22]:
for i,j in dict3.items():
    print(i,j,end=" ")

sathya 30 kalyani 20

In [24]:
a=10,20
a

(10, 20)

In [25]:
a,b=10,20
a,b

(10, 20)

In [26]:
a,b=10
a,b

TypeError: cannot unpack non-iterable int object

In [27]:
dict2={"sathya":30,"kalyani":20}
dict2.get('sathya')

30

In [ ]:
"""
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']"""